<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         bootstrap="test/bootstrap.php"
         colors="true"
         failOnNotice="true"
         failOnWarning="true"
         failOnDeprecation="true"
         processIsolation="false"
         stopOnFailure="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
         cacheDirectory=".phpunit.cache">

  <coverage/>

  <testsuites>
    <testsuite name="Resque Test Suite">
      <directory>./test/Resque/</directory>
    </testsuite>
  </testsuites>

  <source>
    <include>
      <directory suffix=".php">./lib/Resque/</directory>
    </include>
  </source>

</phpunit>
